<div class="section leankit">
    <div class="container">
        <div class="row">
            <div class="col-md-12" ng-if="!vm.gui.leankit.ok">
                <jhas-leankit-connect-edit success-callback="vm.leankitConnectUpdated"></jhas-leankit-connect-edit>
            </div>
            <div class="col-md-12" ng-if="vm.gui.leankit.ok">
                <div class="text-center">
                    <h1>User is connected to LeanKit</h1>
                </div>
            </div>
        </div>
    </div>
</div>